{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
  },
  "extends": ["react-app", "standard", "standard-jsx"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"]
  }
}
