.map-search-panel {
  position: absolute;
  right: 0;
  margin: 10px;
  z-index: 1000;
}

.search-icon {
  height: 25px;
  position: absolute;
  padding: 7px 10px;
  margin: 10px;
}

.close.icon.clear-search {
  position: absolute;
  right: 0;
  margin: 8px;
  cursor: pointer;
}

.close.icon.clear-search:hover {
  color: #c9caca;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input {
  width: 330px;
  height: 35px;
  padding: 10px 30px;
  padding-right: 25px;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1000;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 35px;
  width: 330px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #fff;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: solid 1px #c9caca;
}

.react-autosuggest__suggestion:last-of-type {
  border-bottom: 0;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f8f8f9;
}
