/* CSS custom properties */
:root {
  --sidebar-width: 480px;
}

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--sidebar-width);
  height: 100%;
  border-left: 1px solid #c0c0c0;
}

.feature-info {
  position: absolute;
  max-width: 125px;
  min-height: 50px;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 5px;
}
