.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 480px);
  height: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  height: 100%;
  border-left: 1px solid #c0c0c0;
}
